/* ProductDetails.css */
/*.container{
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid black;
}*/
  .modal-content {
    max-width: 400px;
    justify-content: center;
    align-self: center;
  }
  .modal-body img {
    max-width: 100%;
    height: auto;
  }
  .modal-open {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    pointer-events: none; /* Allow clicking on elements behind the modal */
  }  